.popup__form-text {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 0;
    padding-bottom: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 30px;
}

.popup__form-text:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 576px) {
    .popup__form-text:last-of-type {
        margin-bottom: 45px;
    }
}