.popup__form {
    margin-top: 54px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 576px) {
    .popup__form {
        margin-top: 75px;
    }
}