.place__image {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}